.header {
    background-color: #2d313d;
    vertical-align: middle;
}

.logo {
    width: 32px;
    height: 20px;
    margin: 18px 0 18px 6px;
}

.header_content {
    background-color: #2d313d;
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    position: relative;
    align-items: center;
}

.header_content i {
    padding-right: 15px;
    color: #646d81;
}

.header_content a {
    padding-right: 15px;
    color: #646d81;
    text-decoration: none;
}

.header_content p {
    color: #646d81;
    border-bottom: dashed #646d81 1px;
    margin: 0 10px 0 10px;
    padding: 0;
}

.page_title {
    display: none;
}

.photo_big {
    display: none;
}

.search_glass {
    display: none;
}

.header_links {
    display: flex;
    position: absolute;
    align-items: center;
    right: 0px;
    top: 10px;
}

.logo_white {
    display: none;
}

.header_linksItems {
    margin-top: 5px;
}

.header_links img {
    width: 30px;
    height: 30px;
    margin: 0 25px 10px 0;
}

.main_menu {
    background-color: #646d81;
}

.main_menu_content {
    background-color: #646d81;
    max-width: 960px;
    margin: 0 auto;
    font: 14px Arial;
}

.main_menu a {
    text-decoration: none;
    color: white;
    display: inline-block;
    padding: 7px 0 12px;
    margin-right: 25px;
    border-top: solid #646d81 5px;
}

.main_menu a:hover {
    transform: scale(1.3);
    color: black;
}

.main_background {
    background-color: #f2f4f8;
}

.main_page {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
}

.subMenu {
    background-color: white;
    border-right: solid #f2f4f8 1px;
    min-width: 170px;
}

.subMenu a {
    text-decoration: none;
    padding: 9px 28px 9px 23px;
    border-left: solid white 5px;
    color: #99a1b3;
}

.subMenu a:hover {
    color: blue;
    border-top: solid #646d81 1px;
    border-bottom: solid #646d81 1px;
}

.submenu_headline {
    margin: 32px 0px 0px 0px;
    padding: 9px 28px 0px 23px;
    font: 18px Georgia;
}

.submenu_item {
    margin-top: 15px;
}

.content {
    background-color: white;
    max-width: 790px;
    display: flex;
    flex-direction: column;
}

.navigation {
    background-color: white;
    display: flex;
    font: 30px Georgia;
    flex-grow: 1;
}

.navigation_page {
    padding: 30px 0 20px 30px;
}

.navigation_page p {
    margin: 0;
}

.navigation_city {
    padding: 30px 0 20px 30px;
    margin: 0;
}

.navigation_city p {
    border-bottom: dashed black 1px;
    margin: 0;
}

.navigation_arrow {
    margin: 30px 0 0 10px;
}

body {
    margin: 0;
    min-width: 483px;
    display: flex;
    flex-direction: column;
}

.search {
    background-color: #f2f4f8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 30px;
    color: #99a1b3;
    flex-grow: 1;
}

.search_line {
    display: block;
    width: 280px;
    height: 40px;
    padding: 5px;
    resize: none;
    border-radius: 5px;
    border: solid #d6d9e1 1px;
    font: 18px Georgia #646d81;
    position: relative;
    background-image: url(../images/search_button.jpg);
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 50%;
}

.search_button a {
    color: #99a1b3;
    margin-right: 30px;
}

.forum {
    flex-grow: 1;
}

.forum_unit {
    display: flex;
    margin: 30px 30px 0 30px;
}

.forum_unit_photo {
    margin-right: 10px;
}

.forum_unit_top {
    color: #99a1b3;
    display: flex;
    position: relative;
}

.forum_unit_dial {
    position: absolute;
    right: 70px;
    font-size: 65%;
}

.forum_unit_time {
    position: absolute;
    right: 20px;
    font-size: 80%;
}

.forum_unit_category {
    background-color: #f2f4f8;
    border-radius: 5px;
}

.forum_unit_category p {
    padding: 3px 5px 3px 5px;
    margin: 0;
}

.forum_unit_up p {
    margin: 0;
}

.item_title {
    color: #4f9cd4;
    font-weight: 600;
}

.forum_unit_user {
    margin: 0;
    padding-right: 25px;
}

.forum_unit_midle p {
    margin: 0;
    padding-bottom: 15px;
}

.forum_unit_tag {
    color: #99a1b3;
    font-size: 80%;
}

.buttons {
    display: flex;
    justify-content: center;
    min-height: 100px;
}

.button_style {
    padding: 10px 18px 10px 18px;
    text-decoration: none;
    color: black;
    font: 14px Arial;
    border: solid #99a1b3 1px;
    border-radius: 4px;
    background-color: white;
}

.buttons div {
    margin: 10px;
}

.PreviousPage {
    margin: 30px 30px 30px 30px;
}

.nextPage {
    margin: 30px 30px 30px 30px;
}

.footer {
    flex-grow: 0;
}

.footer_up {
    background-color: #f2f4f8;
    padding-left: 28px;
    border-bottom: solid white 1px;
    height: 40px;
    display: flex;
    align-items: center;
}

.footer_up a {
    text-decoration: none;
    color: #99a1b3;
    margin: 15px 15px 15px 0;
}

.footer_down {
    background-color: #f2f4f8;
    display: flex;
    padding: 5px;
    color: #99a1b3;
    align-items: center;
}

.logo_min {
    height: 20px;
    width: 30px;
    margin: 0 15px 0 25px;
}

.menu_burger {
    display: none;
}

.mobile-menu {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 10px;
    top: 0;
    opacity: 1;
    height: 50px;
    z-index: 9999999;
    position: fixed;
    left: 10px;
    top: 2%;
}

.mobile-menu__btn {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 30px;
    cursor: pointer;
    transition: .4s;
}

.mobile-menu__icon {
    display: block;
    position: relative;
    background: white;
    width: 90%;
    height: 4px;
    transition: 0.4s;
}

.mobile-menu__icon::after,
.mobile-menu__icon::before {
    content: "";
    display: block;
    position: absolute;
    background: white;
    width: 100%;
    height: 4px;
    transition: 0.4s;
}

.mobile-menu__icon::after {
    top: 8px;
}

.mobile-menu__icon::before {
    top: -8px;
}

.mobile-menu__container {
    position: fixed;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    top: 70px;
    left: 1%;
    z-index: 999;
    height: 0;
    opacity: 0.8;
    transition: 0.5s;
    overflow: hidden;
    background-color: #2d313d;
}

.mobile-menu__list {
    transition: 0.5s;
    list-style: none;
    padding-left: 10px;
    margin-top: 5px;
}

.mobile-menu__item {
    font-size: 26px;
    padding-bottom: 15px;
}

.mobile-menu__link {
    text-decoration: none;
    color: #50a6b7;
    font-weight: bold;
}

.mobile-menu__checkbox {
    display: none;
}

.mobile-menu__checkbox:checked~.mobile-menu__nav {
    opacity: 1;
}

.mobile-menu__checkbox:checked~.mobile-menu__container {
    height: 28%;
}

.mobile-menu__checkbox:checked~.mobile-menu__btn .mobile-menu__icon {
    background: transparent;
}

.mobile-menu__checkbox:checked~.mobile-menu__btn .mobile-menu__icon::before,
.mobile-menu__checkbox:checked~.mobile-menu__btn .mobile-menu__icon::after {
    top: 0;
}

.mobile-menu__checkbox:checked~.mobile-menu__btn .mobile-menu__icon::after {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.mobile-menu__checkbox:checked~.mobile-menu__btn .mobile-menu__icon::before {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

@media all and (max-width: 720px) {
    .main_menu {
        display: none;
    }
    .subMenu {
        display: none;
    }
    .footer_up {
        padding-left: 100px;
        border: 0;
    }
    .footer_down {
        display: none;
    }
    .header_links_items {
        display: none;
    }
    .header_links p {
        display: none;
    }
    .header_links img {
        display: none;
    }
    .navigation_page {
        margin-left: 50px;
    }
    .header_content {
        min-height: 80px;
        justify-content: center;
        align-items: center;
    }
    .menu_burger {
        display: block;
    }
    .logo {
        display: none;
    }
    .logo_white {
        display: block;
        margin: 0 5px 0 50px;
    }
    .page_title {
        display: block;
        margin: 5px;
    }
    .page_title p {
        color: white;
        border: 0;
        font-size: 150%;
    }
    .photo_big {
        display: block;
        margin: 5px;
    }
    .search_glass {
        display: block;
        margin: 15px;
    }
}